/* 
    General Styles
*/
img {
    max-width: 150px;
    max-height: 150px;
}

.row {
    align-items: center;
    border-width: 1px;
    border-color: rgb(90, 90, 90);
    border-radius: 15px;
    border-style: solid;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

div.col-2.iconosFinales{
    margin-top: -121px
}